<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Автор</strong>
        <small>12.09.2019</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sapiente odit animi fugiat perspiciatis harum culpa aliquid itaque eveniet fugit, omnis magni ipsa iusto nesciunt, libero corrupti ab. Dicta, quasi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sapiente odit animi fugiat perspiciatis harum culpa aliquid itaque eveniet fugit, omnis magni ipsa iusto nesciunt, libero corrupti ab. Dicta, quasi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sapiente odit animi fugiat perspiciatis harum culpa aliquid itaque eveniet fugit, omnis magni ipsa iusto nesciunt, libero corrupti ab. Dicta, quasi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sapiente odit animi fugiat perspiciatis harum culpa aliquid itaque eveniet fugit, omnis magni ipsa iusto nesciunt, libero corrupti ab. Dicta, quasi?</p>
    </div>
</div>